html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 5000px;
	min-height: 600px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: -1px;
}

#pu2150
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 101px;
}

#u2150
{
	z-index: 5;
	width: 966px;
	position: fixed;
	top: 0px;
	left: 39px;
}

#pu2149
{
	z-index: 6;
	width: 0.01px;
	position: relative;
	margin-right: -1px;
}

#pu2149_position_content
{
	position: relative;
}

#u2149
{
	z-index: 6;
	width: 966px;
	height: 91px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
}

#pu2149_position_inner_content
{
	pointer-events: none;
}

#pu2139
{
	width: 0.01px;
	position: relative;
	left: -946px;
	top: 9px;
	pointer-events: auto;
}

#u2139
{
	z-index: 7;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -200px;
}

#u2148
{
	z-index: 8;
	width: 383px;
	position: relative;
	margin-right: -383px;
	margin-top: 31px;
	left: 500px;
}

#u2141
{
	z-index: 9;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -200px;
}

#u2143
{
	z-index: 10;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -200px;
	margin-top: 9px;
	left: 97px;
}

#u2145
{
	z-index: 11;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -200px;
	margin-top: 6px;
	left: 183px;
}

#u2305
{
	z-index: 2;
	width: 216px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2112
{
	z-index: 12;
	width: 200px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -200px;
	margin-top: 2256px;
	left: 512px;
}

#u2153
{
	z-index: 3;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -200px;
	margin-top: 90px;
	left: 2675px;
}

#pu2275
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: -1px;
	left: 3782px;
}

#u2275
{
	z-index: 13;
	width: 452px;
	position: relative;
}

#u2275_img
{
	vertical-align: top;
}

#u2155
{
	z-index: 4;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5B5B5B;
	margin-top: 23px;
	position: relative;
}

